<app-header></app-header><br>

<div class="card">
       <div class="info">
        <h1>
                LOAN APPLICATION
        </h1>
        <h2>
            please click on below butoon to create/show loan
        </h2>
       </div><br>
       <div class="button">
        <button  id="btn1" routerLink="/createloan">CREATE LOAN</button>
        <button  id="btn2"  routerLink="/showallloan">SHOW ALL LOAN</button>
        <button  id="btn3"  routerLink="/paymentShedule">PAYMENT SHEDULE</button>
       </div>
</div>  
